.tudo {
    background-color: rgb(52, 153, 211);
    width: 90%;
    margin: auto;
    box-shadow: 7px 22px 66px -10px rgba(0,0,0,0.75);
}

.logo{
	height: 180px;
    width: 180px;

}
.header{
	background-image: linear-gradient(180deg,#000,transparent);
    background-color: rgb(37, 67, 122);
    background-position: center;
    background-size: contain; 
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: initial;
    border-top:7px solid #250083;
    border-bottom:7px solid s#250083;
}
.familia{
    background-color: rgb(37, 67, 122);
    background-image: url("imagens/familia.jpeg");
    background-position: center;
    background-size: contain; 
    height: 765px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:7px solid #250083;
    border-bottom:7px solid s#250083;
}

ul {
    text-align: center;
	
}

li {
    display: inline-block;
    margin: auto;

   /*  border: 1px solid #333; */
    /* height: 100%; */
    /* line-height: 45px; */
   /*  cursor: pointer; */
    /* margin-left: -6px; */
    /* width: 100px; */
    /* transition: 1s; */

}

.menu-horizontal {
    position: sticky;
    top: 3px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.95);
 
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.img05{
    width: 20%;
    height: 20%;
    float: right;
}

.apres{
    color:white;
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    padding-top: 35px;
    padding-left: 20px;
    padding-bottom: 40px;
    background-color: rgb(37, 67, 122);
    font-size: 20pt;
}

.outline{
    padding: 2px;
    border:1mm ridge rgba(255, 255, 255, 1);
    border-right-style: none
}



.boximg{
    background-color: #333;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 30px;
    width: auto;
}
.img{
    box-shadow: 10px 10px 0px 2px rgba(70,99,241,1);
    /* box-shadow: 0px 0px 22px 2px rgb(70, 99, 241); */
    width: 30%;
    height: 30%;
    margin-right: 30px;
    margin-top: 30px;
}

.boxtxt{
    width: 35%;
    background-color: rgb(78, 69, 69);
}
.txt{
    text-align: center;
    margin-right: 50px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}


.content{
    width: auto;
    height: 600px;
    background-image: url("imagens/10.png");
    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;
}


.rodape{
    display: flex;
    justify-content:space-around; 
    margin-top: 20px;
    padding-top: 15px;
    width: auto;
    background-color: #ffffff;
    border-top:5px solid #250083;
}



