.tudo {
    background-color: rgb(52, 153, 211);
    width: auto;
    box-shadow: 7px 22px 66px -10px rgba(0,0,0,0.75);
}



.header{
    background-color: rgb(37, 67, 122);
    background-image: url("imagens/4.jpeg");
    background-position: center;
    background-size: contain; 
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo{
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    position: relative;
    box-shadow: 0px 0px 24px 8px rgba(124,129,237,1);
}


ul {
    text-align: center;
}

.menu-horizontal {
    position: sticky;
    top: 3px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.95);
 
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* li:hover {
    background-color: #000080;
} */
li {
    display: inline-block;
    margin: 5px 0 5px 0;
   /*  border: 1px solid #333; */
    /* height: 100%; */
    /* line-height: 45px; */
   /*  cursor: pointer; */
    /* margin-left: -6px; */
    /* width: 100px; */
    /* transition: 1s; */

}
.img05{
    width: 20%;
    height: 20%;
    float: right;
}

.apres{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 35px;
    padding-left: 20px;
    padding-bottom: 40px;
    background-color: rgb(12, 86, 129);
    font-size: 20pt;
}



.boximg{
    background-color: #333;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 30px;
    width: auto;
}
.img{
    box-shadow: 10px 10px 0px 2px rgba(70,99,241,1);
    /* box-shadow: 0px 0px 22px 2px rgb(70, 99, 241); */
    width: 30%;
    height: 30%;
    margin-right: 30px;
    margin-top: 30px;
}

.content{
    background-color: darkseagreen;
    width: auto;
    height: 500px;
}


.rodape{
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    padding-top: 15px;
    width: auto;

    background-color: rgb(255, 255, 255);
    border-top:5px solid #9170E4;
}