*{
    margin: 0px;
    padding: 0px;
}

body{
    
    background-image: url("Background.png");/* Plano de fundo */
    background-color: #250083;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.conteudo{
    
    width: 420px;
    margin: 100px auto 25px auto;
}
h1{ /* texto "entrar" */
    text-align: center;
    color: white;
    font-family: Arial,sans-serif;
}
input{ /* Caixa de texto */
    display: block;/* Caixa de texto um em cima do outro */
    width: 400px;
    height: 55px;
    margin: 10px;
    border-radius: 30px; /* borda arredondada */
    border: 1px solid white; /* bordas */
    font-size: 16pt;
    outline: 0;/* tirar borda quando clicado */
    text-align: center;
    background-color: rgba( 0, 0, 0, .1);/*Fundo semi-tranparente */

}

/*          cor do placehoder       */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

input[type=submit]{
    background-color: white;
	color: #250083;
    
}

input[type=submit]:hover{
    width: 405px;
    height: 60px;
	color: #250083;

    
}

a{  /* link */
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;

}

strong:hover{
    
    text-decoration: underline;
}

