.tudo {
    width: 90%;
	height: auto;
    margin: auto;
    box-shadow: 7px 22px 66px -10px #000A4B;
}


.logo{
	height: 180px;
    width: 180px;

}
.header{
	background-image: linear-gradient(180deg,#000,transparent);
    background-color: rgb(37, 67, 122);
    height: 200px;
    display: flex;
    align-items: center;
    border-top:7px solid #250083;
    border-bottom:7px solid s#250083;
}


ul {
    text-align: center;
}

li {
    display: inline-block;
    margin: auto;
}
.lista{
	text-align: left;
	
}

.titulo{
	color: rgb(37, 67, 122);
	text-align: center;
}
.corpo{
    width: auto;
    height: 1300px;
    align-items: flex-end;
	background-color: rgb(37, 67, 122);
}
.gas{
	width:1000px;
	height:450px;
	background:  linear-gradient( -110grad, black, grey, transparent, transparent );
	
}
.dicas{
	width:auto;
	height:820px;
	background-color: white;
	position: relative;
	margin-top:30px;
}
.redes{
	height:50px;
	width:50px;
	position: left;
}
.botao{
    width: auto;
	padding-bottom: 1px;
    height: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.rodape{
    display: flex;
    justify-content:space-around;
    padding-top: 15px;
    width: auto;
    background-color: rgb(255, 255, 255);
    border-top:5px solid #3710ad;

}

