.tudo {
    width: 1200px;
    margin: auto;
    box-shadow: 7px 22px 66px -10px #000A4B;
}

.logo{
    border-radius: 100%;
    width: 200px;
}

.header{
    background-color: rgb(37, 67, 122);
    height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:7px solid #250083;
    border-bottom:7px solid #250083;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    margin: 5px 0 5px 0;
}

.menu-horizontal {
    position: sticky;
    top: 3px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.95);
    border-style: solid;
    border-color: #000A4B;
   /*  border-bottom: none; */
    border-top: none;
}

.box{
    background-color: #ffffff;
    display: flex;
    justify-content:space-around; 
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
/*     border:4mm ridge rgba(255, 255, 255, 1); */
    border-right-style: none
}
.produto_nome{
    border:solid #250083;
    background-color: antiquewhite;
}

.produto{
    background-color: rgba(255, 255, 255, 0.1);
    border:solid #250083;
    width: 20%;
    height: 20%;
    transition: 1s;
}
.produto:hover{
    width: 22%;
    height: 22%;

}
.img{
    /* box-shadow: 0px 0px 22px 2px rgb(70, 99, 241); */
    width: 100%;
    height: 100%;

}

.box_descricao{
    border:solid #250083;
}

.rodape{
    display: flex;
    justify-content:space-around; 
    margin-top: 20px;
    padding-top: 15px;
    width: auto;
    background-color: rgb(255, 255, 255);
    border-top:5px solid #9170E4;
}


/* carrinho */
.carrinho{
    position: fixed;
    height: 90%;
    width: 90%;
    margin: auto;
    top: 0; bottom: 0;
    left: 0; right: 0;
    display: block;
    padding: 20px;
    background-color: #00B4D8;
    box-shadow: 0px 0px 35px 6px rgba(0,0,0,0.75);
    border: 5px solid;
    border-color: #023E8A;
}

.container{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: black;
}